:root {
    --green: #6aaa64;
    --darkendGreen: #538d4e;
    --yellow: #c9b458;
    --darkendYellow: #b59f3b;
    --lightGray: #d8d8d8;
    --gray: #86888a;
}


* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  #container {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
  
  #game {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid rgb(39, 39, 39);
  }
  
  .title {
    
    font-size: 3.5rem;
    font-weight: 900;
    margin: 0.4rem 0 0.2rem 0;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      color: rgb(88, 87, 87);
  }
  
  .square {
    border: 2px solid rgb(58, 58, 60);
    min-width: 60px;
    min-height: 60px;
    font-size: 50px;
    font-weight: bold;
    color: gainsboro;
    text-transform: uppercase;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #keyboard-container {
    height: 200px;
  }
  
  .keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
  }
  
  .keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: rgb(129, 131, 132);
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
  }
  
  .keyboard-row button.wide-button {
    flex-grow: 1.5;
  }
  
  .spacer-half {
    flex-grow: 0.5;
  }

  
a.btn {
    color: #fff;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  a.btn:hover {
    background: #d73851;
    border: 1px solid #d73851;
    color: #fff;
  }
  
  .cover  {
    height: 100vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
    padding: 20px 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .flex-form .enter {
    background: #ef3f5a;
    border: 1px solid #ef3f5a;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .flex-form .enter:hover {
    background: #d73851;
    border: 1px solid #d73851;
  }
  
  .flex-form {
    display: -webkit-box;
    display: flex;
    z-index: 10;
    position: relative;
    width: 500px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .flex-form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
  }
  
  .enter{
    flex-basis: 500px;
  }
  

  #board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    display: inline-block;
    padding: 20px;
  }
  
  .board {
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap:2px;
    
  }
  

  .alphas{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin:6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 40px;
    background-color: rgb(134, 136, 138);
   
    border-radius: 20%;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

#answers{
    width: 40%;
    
    /* overflow-y: scroll; */
    border: 2px solid black;
    text-align: center;
    color: #ef3f5a;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}